<h1><%= @team.name %></h1>

<h2> Team Motto: <%= @team.motto%> </h2>

<h2> Hero Name: <%= @hero_1.name %> </h2>
<span> Hero Power: <%= @hero_1.power %> </span><br>
<span> Hero Biography: <%= @hero_1.bio %> </span>

<h2> Hero Name: <%= @hero_2.name %> </h2>
<span> Hero Power: <%= @hero_2.power %> </span><br>
<span> Hero Biography: <%= @hero_2.bio %> </span>

<h2> Hero Name: <%= @hero_3.name %> </h2>
<span> Hero Power: <%= @hero_3.power %> </span><br>
<span> Hero Biography: <%= @hero_3.bio %> </span>